<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300711715861-g8ev62a4opi2u1b9s3sblc1lsl8b0una.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300711715861-g8ev62a4opi2u1b9s3sblc1lsl8b0una</string>
	<key>API_KEY</key>
	<string>AIzaSyAOhqwvvGfYouupGUgSTvR5KECB0FpBvMI</string>
	<key>GCM_SENDER_ID</key>
	<string>300711715861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Gaurav.ios.collectionViewDemo</string>
	<key>PROJECT_ID</key>
	<string>collectionviewdemo-d64b0</string>
	<key>STORAGE_BUCKET</key>
	<string>collectionviewdemo-d64b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300711715861:ios:a578d6488a45a463</string>
	<key>DATABASE_URL</key>
	<string>https://collectionviewdemo-d64b0.firebaseio.com</string>
</dict>
</plist>